/* Modo escuro para o body e cards */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
}

/* Modo escuro para o Modal */
.dark-mode .modal-content {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
}

.dark-mode .btn-close {
  filter: invert(1);
}

/* Modo escuro para os inputs */
.dark-mode input {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #555;
}

.dark-mode input::placeholder {
  color: #bbb;
}

#loginForm {
  width: 25vw;
  max-width: 400px;
  /* Define um limite para telas grandes */
  min-width: 300px;
  /* Evita que fique muito pequeno em telas menores */
  margin: 0 auto;
  /* Centraliza na página */
}

/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    max-width: 90%;
  }
}

/* Botão de modo escuro no canto superior direito */
#toggleDarkMode {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  /* Cor padrão */
  transition: color 0.9s ease-in-out;
}

/* Ajuste para modo escuro */
.dark-mode #toggleDarkMode {
  color: #fff;
  /* Fica branco no modo escuro */
}

body {
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.logo {
  filter: drop-shadow(3px 3px 3px #121212);
  animation: shake 10s infinite ease-in-out;
  cursor: pointer;
}

.formulario {
  box-shadow: 5px 5px 5px #bbb;
}

.login-container {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* @keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  10% {
    transform: translate(-3px, 3px) rotate(-2deg) scale(1.02);
  }

  20% {
    transform: translate(3px, -3px) rotate(2deg) scale(0.98);
  }

  30% {
    transform: translate(-3px, 3px) rotate(-1deg) scale(1.01);
  }

  40% {
    transform: translate(3px, -3px) rotate(1deg) scale(0.99);
  }

  50% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  60% {
    transform: translate(2px, -2px) rotate(2deg) scale(1.01);
  }

  70% {
    transform: translate(-2px, 2px) rotate(-2deg) scale(0.99);
  }

  80% {
    transform: translate(2px, -2px) rotate(1deg) scale(1.02);
  }

  90% {
    transform: translate(-2px, 2px) rotate(-1deg) scale(0.98);
  }

  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
} */