* {
  font-family: "Vollkorn", serif;
  margin: 0;
  padding: 0;
}

a {
  margin: .25rem
}

.body-dark {
  background-color: #212529;
  color: #899095;
}

.footer {
  background: linear-gradient(#00c6fb 0%, #005bea 100%);
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 1px;
  margin-top: 60px;
}

.footer-dark {
  background: linear-gradient(#585858 0%, #000 100%);
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 1px;
  margin-top: 60px;
}

.header {
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  color: #fff;
}

.header-dark {
  background: linear-gradient(#000 0%, #585858 100%);
}

.container-default {
  border-radius: 16px;
  background: linear-gradient(to top, #005bea 0%, #00c6fb) 100%;
}

.container-default-dark {
  background: linear-gradient(#585858 0%, #222121 100%);
}

.pagina {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
}

.logo {
  filter: drop-shadow(4px 4px 2px black);
}

p {
  letter-spacing: -0.005em;
  font-size: 1.025rem
}

body {
  min-width: auto;
  min-height: 100vh;
  background-color: #e3e4e6;
}

main {
  min-height: 75vh;
}

.logo:hover {
  animation: rubberBand ease-in-out; 
  animation-duration: 1s;
}

.link {
  font-weight: 700;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

.icon {
  transition: ease .3s;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 2px black);
}

.animacao {
  display: inline-block;
  margin: 0 0.5rem;
  animation: heartBeat infinite ease-in-out; 
  animation-duration: 10s;
  filter: drop-shadow(2px 2px 2px black);
}

.sombra {
  filter: drop-shadow(4px 4px 1px black);
  color: white;
  margin: .55rem;
}

.botao {
  background-color: #00c6fb;
  font-weight: 700;
  color: white;
}
.botao:hover {
  background-color: #00c5fbc2;
  font-weight: 700;
  color: white;
}

.tamanhoInput {
  width: 75%;
  margin: .25rem;
}

.botaoMenosMais {
  width: 4rem;
  height: 3rem;
}

.visor {
  width: 5rem;
  height: 3rem;
  margin: 0 .5rem
}

.inputsRegistrarSaida {
  width: 80%;
  margin-bottom: 1rem;
}

.inputConfirmaSaida, .inputConfirmaEntrada {
  width: 105px;
  margin: .5rem;
}

.nomesFormulario {
  font-weight: bold;
  color: aliceblue;
}

@media (max-width: 767px) {
  .header {
    padding: 10px;
  }

  .navbar-nav {
    text-align: center;
  }

  .footer {
    font-size: 0.85rem;
  }

  .logo {
    width: 50px;
  }

  .sombra {
    font-size: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .tamanhoInput {
    width: 100%;
  }

  .pagina {
    flex-direction: column;
    align-items: center;
  }
}
